numpy
transformers
nltk
node2vec
scikit-learn
pytorch-ignite
torch==1.4.0+cpu torchvision==0.4.2+cpu -f https://download.pytorch.org/whl/torch_stable.html
tqdm
networkx
bs4
pytest
pytest-cov
pdoc3
torch-scatter==latest+cpu -f https://pytorch-geometric.com/whl/torch-1.4.0.html
torch-sparse==latest+cpu -f https://pytorch-geometric.com/whl/torch-1.4.0.html
torch-spline-conv==latest+cpu -f https://pytorch-geometric.com/whl/torch-1.4.0.html
torch-cluster
torch-geometric
